<footer class="footer">
  <div class="container">
    <div class="row row-grid align-items-center" >
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="" class="btn btn-primary" ngbTooltip="Email us">
          <img src="../../../assets/img/icons/common/mail.png">
        </a>
        <a target="_blank" href="" ngbTooltip="MyOnlineWorld">
          <img src="../../../assets/img/brand/mow-logos.png">
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www." target="_blank">MyOnlineWorld</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://" class="nav-link" target="_blank">MyOnlineWorld</a>
          </li>
          <li class="nav-item">
            <a href="http://" class="nav-link" target="_blank">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
